<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main>
        <section>
            <h2>Blog Post</h2>
            <article class="blog-content">
                <%- content %>
            </article>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
